<template>
<v-container>
  <v-data-table
      :headers="headers"
      :items="players"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr @click="alertMe(props.item)">
          <td>{{ props.item.id }}</td>
          <td>{{ props.item.first_name }}</td>
          <td>{{ props.item.last_name }}</td>
          <td>{{ props.item.team.name }}</td>
        </tr>
      </template>
    </v-data-table>
    <v-btn
      fab
      bottom
      right
      color="pink"
      dark
      fixed
      @click="dialog = !dialog"
    >
    <v-icon>add</v-icon>
    </v-btn>

    <v-dialog v-model="dialog" width="800px">
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        >
          New Player
        </v-card-title>
        <v-container grid-list-sm class="pa-4">
          <v-layout row wrap>
            <v-flex xs16 align-center justify-space-between>
              <v-layout align-center>
                <v-text-field
                  v-model="player.first_name"
                    label="First Name"
                    required
                ></v-text-field>
                
              </v-layout>
            </v-flex>
            <v-flex xs12 align-center>
              <v-layout align-center>
                <v-text-field
                  v-model="player.last_name"
                    label="Last Name"
                    required
                ></v-text-field>
              </v-layout>
            </v-flex>
            <v-flex xs12 align-center>
              <v-select
                :items="teams"
                label="Teams"
                item-value="id"
                item-text="name"
                v-model="selectedTeam"
                @change="selectTeam"
              ></v-select>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
          <v-btn flat v-if="!update" @click="savePlayer">Save</v-btn>
          <v-btn flat v-if="update" @click="updatePlayer">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

</v-container>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    update: false,
    selectedTeam:{id:0, name:""},
    player:{ first_name:"", last_name:"", team_id:0 },
    headers: [
        { text: 'Id',value: 'id' },
        { text: 'First Name',value: 'first_name' },
        { text: 'Last Name', value: 'last_name' },
        { text: 'Team', value: 'team.name' }
      ],
      players:[],
      teams:[],
  }),
  mounted() {
    this.$nextTick(() => {
      this.loadPlayers()
      this.loadTeams()
    })
  },
  methods: {
    async loadTeams() {
      const allTeams = await this.$axios.$get('http://6c884d4d.ngrok.io/api/teams')
      this.teams = allTeams.data
    },
    async loadPlayers() {
      const allPlayers = await this.$axios.$get('http://6c884d4d.ngrok.io/api/players')
      this.players = allPlayers.data
    },
    async savePlayer() {
      const newPlayer = await this.$axios.$post('http://6c884d4d.ngrok.io/api/players',this.player)
      this.loadPlayers()
      this.dialog=false;
    },
    async updatePlayer() {
      const newPlayer = await this.$axios.$put('http://6c884d4d.ngrok.io/api/players/'+this.player.id,this.player)
      this.loadPlayers()
      this.dialog=false;
    },
    selectTeam: function(itemValue){
      this.player.team_id=itemValue.id
    },
    resetSave: function(){
      this.player = { first_name:"", last_name:"", team_id:0 }
      this.dialog=false
      this.update=false
    },
    alertMe: function(item){
      this.player = item
      this.selectedTeam = item.team
      this.update=true
      this.dialog=true
    }
  },
}
</script>


