<template>
<v-container>
  <v-data-table
      :headers="headers"
      :items="teams"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr>
        <td>{{ props.item.id }}</td>
        <td>{{ props.item.name }}</td>
        <td>
          <v-icon @click="alertMe(props.item)">create</v-icon>
          <v-icon @click="teamPlayers(props.item.players)">perm_identity</v-icon>
        </td>
        </tr>
      </template>
    </v-data-table>
    <v-btn
      fab
      bottom
      right
      color="pink"
      dark
      fixed
      @click="dialog = !dialog"
    >
    <v-icon>add</v-icon>
    </v-btn>

    <v-dialog v-model="dialog" width="800px">
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        >
          New Team
        </v-card-title>
        <v-container grid-list-sm class="pa-4">
          <v-layout row wrap>
            <v-flex xs12 align-center justify-space-between>
              <v-layout align-center>
                <v-text-field
                  v-model="team.name"
                    label="Name"
                    required
                ></v-text-field>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn flat color="primary" @click="resetSave">Cancel</v-btn>
          <v-btn flat v-if="!update" @click="saveTeam">Save</v-btn>
          <v-btn flat v-if="update" @click="updateTeam">Update</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="playerList" width="800px">
      <v-card>
        <v-card-title
          class="grey lighten-4 py-4 title"
        >
          Player List
        </v-card-title>
        <v-container grid-list-sm class="pa-4">
            <v-data-table
              :headers="headerPlayers"
              :items="players"
              hide-actions
              class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <tr>
                <td>{{ props.item.id }}</td>
                <td>{{ props.item.first_name }}</td>
                <td>{{ props.item.last_name }}</td>
                </tr>
              </template>
            </v-data-table>
        </v-container>
        <v-card-actions>
          <v-btn flat color="primary" @click="resetSave">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

</v-container>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    update: false,
    playerList: false,
    team:{name:""},
    headers: [
        { text: 'Id',value: 'id' },
        { text: 'Name',value: 'name' },
        { text: 'Players',value: 'players' }
      ],
    headerPlayers: [
        { text: 'Id',value: 'id' },
        { text: 'First Name',value: 'first_name' },
        { text: 'Last Name',value: 'last_name' }
      ],
      teams:[],
      players:[]
  }),
  mounted() {
    this.$nextTick(() => {
      this.loadTeams()
    })
  },
  methods: {
    async loadTeams() {
      const allTeams = await this.$axios.$get('http://6c884d4d.ngrok.io/api/teams')
      this.teams = allTeams.data
    },
    async saveTeam() {
      const newTeam = await this.$axios.$post('http://6c884d4d.ngrok.io/api/teams',this.team)
      this.loadTeams()
      this.dialog=false;
    },
    async updateTeam() {
      const updateTeam = await this.$axios.$put('http://6c884d4d.ngrok.io/api/teams/'+this.team.id,this.team)
      this.loadTeams()
      this.dialog=false;
    },
    resetSave: function(){
      this.team = {name:""}
      this.dialog=false
      this.update=false
      this.playerList=false
    },
    alertMe: function(item){
      this.team = item
      this.update=true
      this.dialog=true
    },
    teamPlayers: function(players){
      this.players = players
      this.playerList=true
      console.log(this.players)
    }
  },
}
</script>


